@tailwind base;
@tailwind components;
@tailwind utilities;

/* CoHabit Global Styles */
html,
body {
  height: 100%;
}

body {
  background-color: #ffd9d9; /* blush */
  color: #102b1f; /* pine */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
